:root {
  /* Primary Colors */
  --mui-palette-primary-main: #1976d2;
  --mui-palette-primary-light: #42a5f5;
  --mui-palette-primary-dark: #1565c0;
  --mui-palette-primary-contrastText: #fff;

  /* Other Variables */
  --font-color: black;
  --button-hover-color: #FC1503;
  --scrollbar-thumb-color: rgb(114, 113, 113);
  --scrollbar-track-color: transparent;
  --btn-padding: 7px 15px;
  --btn-border-radius: 20px;
  --scrollbar-width: 8px;
}

/* Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width); /* Increased width for visibility */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

/* Button Styles */
.category-btn {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: var(--btn-padding);
  margin: 10px 0;
  border-radius: var(--btn-border-radius);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.category-btn:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.category-btn:hover span {
  color: white;
}

/* Search Bar Styles */
.search-bar {
  border: 1px solid #e0e0e0;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px; /* Maximum width for larger screens */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 8px; /* Reduced margin for smaller screens */
    padding: 6px 12px; /* Adjusted padding */
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow-x: auto; /* Ensure horizontal scrolling */
    white-space: nowrap;
  }

  .search-bar {
    width: 90%; /* Responsive width for smaller screens */
    max-width: 250px; /* Limit maximum width */
  }
}

@media screen and (max-width: 400px) {
  .search-bar {
    width: 80%; /* Smaller width for very small screens */
  }

  .category-btn {
    padding: 5px 10px; /* Smaller padding */
    font-size: 14px; /* Smaller text */
  }
}

/* Copyright hide on small screens */
@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}
