:root {
  /* Primary Colors */
  --mui-palette-primary-main: #1976d2;
  --mui-palette-primary-light: #42a5f5;
  --mui-palette-primary-dark: #1565c0;
  --mui-palette-primary-contrastText: #fff;

  /* Other Variables */
  --font-color: black;
  --button-hover-color: #FC1503;
  --scrollbar-thumb-color: rgb(114, 113, 113);
  --scrollbar-track-color: transparent;
}

/* Basic Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Increased width for visibility */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

/* Button Styles */
.category-btn {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added transition */
}

.category-btn:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.category-btn:hover span {
  color: white;
}

/* React Player Styles */

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px; /* Consistent margin */
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important; /* Ensure horizontal scrolling */
  }

  

  .search-bar {
    width: 200px; /* Adjust width for smaller screens */
  }
}
